---
import { Icon } from "astro-icon";
import type { CompatibilityItem } from "~/types";

export interface Props {
  items: Array<CompatibilityItem>;
  title: string;
  url: string;
}

const { items, title, url } = Astro.props;
---

<div class="w-full max-w-4xl space-y-2">
  <div class="px-6 pb-8 pt-1 bg-zinc-800">
    
    <ul class="grid grid-cols-4 sm:grid-cols-4 md:grid-cols-4">
      {
        items.map((item) => (
          <li>
            <a class="flex flex-col items-center gap-2" href={item.url}>
              <Icon class="h-12" name={item.icon} />
              <span>{item.title}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <br><br>
  
</div>
