---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Web design",
    description:
      "Custom and modern web design focused on efficiency and responsiveness",
    icon: "mdi:handshake",
  },
  {
    title: "Web development",
    description:
      "From hosting installation and configuration to deploy and maintenance web",
    icon: "mdi:feather",
  },
  {
    title: "Brand experience",
    description:
      "Good looking designs to empower your brand and enhance confidence between you and the customer",
    icon: "mdi:directions-fork",
  },
  {
    title: "Broad Integration",
    description:
      "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any of your favorite npm packages.",
    icon: "mdi:graph",
  },
  {
    title: "SEO Enabled",
    description:
      "Website development focusing on organic search engine optimization; html5, sitemaps, sindication, etc.",
    icon: "mdi:search-web",
  },
  {
    title: " HD Photography",
    description:
      "I provide you original HD quality images for your project or otherwise copyright free",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    I help companies to build confidence creating fast, modern and fully responsive websites.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
