---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/showcase";

const sites = await getShowcase();
---

<!--<ContentSection id="showcase">
  <Fragment slot="lead">
    I help companies to build confidence and engage new audiences developing fast, modern and fully responsive websites.
  </Fragment>-->
  
  <div class="max-w-8xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 m-6">
      {sites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <a class="text-primary" href="https://astro.build/showcase/">
        
      </a>
    </p>
  </div>
</ContentSection>
