---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-zinc-800">
  <Starfield />
  <GitHubCorner />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div>
    <div class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto items-center"><br><br>
      <img src="/src/assets/astronaut.png" class="object-cover h-55 w-96 mt-8">
      <h1 class="text-center font-extrabold tracking-tighter text-5xl gradient-text">
        Freelance front-end
        <br /> web developer
        <br /> 
      </div>
      <div>
        <p class="text-center">Hi, my name is Ignasi. I'm a front-end web developer based in Barcelona.<br /> 
          I help companies to build fast, modern and fully responsive websites. <span class="available">I'm available for hire.</span></p>
      </div>
      </div><br>
      <div class="absolute left-1/2 -ml-0.5 w-0.5 h-40 bg-gray-600"></div>
  </div>

  <noscript>
    <style>
      #splash-bg-fallback {
        display: block;
      }
    </style>
  </noscript>

  <style>
    @keyframes float {
      0% {
        transform: translate3d(0, 0, 0);
      }

      100% {
        transform: translate3d(0, 30px, 0);
      }
    }

    #astronaut {
      animation: float linear 2.5s infinite alternate;
    }

    @media (prefers-reduced-motion: reduce) {
      #astronaut {
        @apply animate-none;
      }

      :global(#starfield) {
        @apply hidden;
      }

      #splash-bg-fallback {
        @apply block;
      }
    }
  </style>
</section>
