---
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import astronaut from "../assets/astronaut.png";
import type { FooterLink } from "~/types";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-zinc-800">
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40"></div>
  <div>
    <div
      class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto"
    >
      <br /><br />

      <img
        src="/astronaut.png"
        class="h-55 mt-8 w-96 object-cover"
      />
      <h1 class="gradient-text text-center font-extrabold tracking-tighter text-5xl">
        Freelance front-end
        <br />web developer</h1>
      <div>
        <p class="text-center m-4">
          Hola, el meu nom és Ignasi. Ajudo a particulars i empreses a crear<br />
          pàgines web a mida, àgils i modernes. Si estàs interessat a col·laborar,<br />escriu-me un <a href="mailto:ignasi123@gmail.com"><span class="border-b bg-gradient-to-r border-red-300 pb-1"> correu electrònic.</span></a>
        </p>
      </div>
    </div><br />
    <div class="absolute left-1/2 -ml-0.5 h-40 w-0.5 bg-gray-600"></div>
  </div>

  <noscript>
    <style>
      #splash-bg-fallback {
        display: block;
      }
    </style>
  </noscript>

  <style>
    @keyframes float {
      0% {
        transform: translate3d(0, 0, 0);
      }

      100% {
        transform: translate3d(0, 30px, 0);
      }
    }

    #astronaut {
      animation: float linear 2.5s infinite alternate;
    }

    @media (prefers-reduced-motion: reduce) {
      #astronaut {
        @apply animate-none;
      }

      :global(#starfield) {
        @apply hidden;
      }

      #splash-bg-fallback {
        @apply block;
      }
    }
  </style>
</section>
